{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style_base.css' %}">
<html>
<head>
    <meta charset="UTF-8">
    <title>Победители Великой войны</title>
</head>
<body>
    <div class="bottom_buttons">
        <form action="{% url 'game' %}"><button>В бой!</button></form>
        <button>Данные разведки</button>
        <button>Связь с офицерами</button>
    </div>
    <div class="bottom_right">
        <p><form action="{% url 'military_personnel' %}"><button>Личный состав</button></form></p>
        <p><button>Задачи</button></p>
        <p><button>Запросить помощь</button></p>
        <p>Опыт командования</p>
        <p>Боевой дух</p>
        <p>Состояние личного состава</p>
    </div>
    <div class="left_info">
        <img src="/static/img/avatar.gif">
        {{ users }}
        {{ rank }}
        <p><img src="{{ rank.img.url }}" width="50" height="50"></p>
    </div>
</body>
</html>