<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="/css/style_to_battle.css">
    <meta charset="UTF-8">
    <title>Победители Великой войны | В бой!</title>
    <button>Назад</button>
</head>
<body>
    <div class="event_selection_block">
        <img src="/img/avatar_fighting.png">
        <img src="/img/avatar_fighting.png">
        <img src="/img/avatar_fighting.png">
    </div>
    <div class="event_selection_block">
        <img src="/img/avatar_fighting.png">
        <img src="/img/avatar_fighting.png">
        <img src="/img/avatar_fighting.png">
    </div>
</body>
</html>